/*
Grid:
Column width: 7.5%;
Gutter width: .9%;
*/
.gutter-right {
  margin-right: .9%;
}
.gutter-left {
  margin-left: .9%;
}
.col-1 {
  width: 7.5%;
}
.col-2 {
  width: 15.9%;
}
.col-3 {
  width: 24.3%;
}
.col-4 {
  width: 32.7%;
}
.col-5 {
  width: 41.1%;
}
.col-6 {
  width: 49.5%;
}
.col-7 {
  width: 57.9%;
}
.col-8 {
  width: 66.3%;
}
.col-9 {
  width: 74.7%;
}
.col-10 {
  width: 83.1%;
}
.col-11 {
  width: 91.5%;
}
.col-12 {
  width: 100%;
}
/* Doesn't include the gutter */
.margin-l-1 {
  margin-left: 7.5%;
}
.margin-l-2 {
  margin-left: 15.9%;
}
.margin-l-3 {
  margin-left: 24.3%;
}
.margin-l-4 {
  margin-left: 32.7%;
}
.margin-l-5 {
  margin-left: 41.1%;
}
.margin-l-6 {
  margin-left: 49.5%;
}
.margin-l-7 {
  margin-left: 57.9%;
}
.margin-l-8 {
  margin-left: 66.3%;
}
.margin-l-9 {
  margin-left: 74.7%;
}
.margin-l-10 {
  margin-left: 83.1%;
}
.margin-l-11 {
  margin-left: 91.5%;
}

.margin-r-1 {
  margin-right: 7.5%;
}
.margin-r-2 {
  margin-right: 15.9%;
}
.margin-r-3 {
  margin-right: 24.3%;
}
.margin-r-4 {
  margin-right: 32.7%;
}
.margin-r-5 {
  margin-right: 41.1%;
}
.margin-r-6 {
  margin-right: 49.5%;
}
.margin-r-7 {
  margin-right: 57.9%;
}
.margin-r-8 {
  margin-right: 66.3%;
}
.margin-r-9 {
  margin-right: 74.7%;
}
.margin-r-10 {
  margin-right: 83.1%;
}
.margin-r-11 {
  margin-right: 91.5%;
}
